@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap');

html{
    box-sizing: border-box;
    margin: 30px;
    padding: 0;
    font-family: 'Alkatra', cursive;
    max-width: 100px;
}

* {
    box-sizing: inherit;
}

body{
    background-color: rgb(235, 235, 235);
    width: 100%;
}

img{
    width: 300px;
    height: 300px;
    border: 2px solid #172554;
    border-radius: 10px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    gap: 20px;
}

.cards{
    border: 2px solid #172554;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    text-align: center;
    background-color: #7dd3fc;
    cursor: pointer;
    box-shadow: 100px #1d4ed8;
}
.cards:hover{
    background: #1e40af;
}

h1{
    color: #172554;
}